<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>
<body>
    <div id="container">
        <%= require('./partials/header.html') %>




        <div id="form-container">
            <form id="contact-page-form" action="https://api.web3forms.com/submit"  method="POST">
                <legend>
                    <h1>
                        Contact Ace Ball
                    </h1>
                </legend>
                <input type="hidden" name="access_key" value="482448b1-029b-4a5d-8903-727b8669bd8b">
                <input type="hidden" name="Subject" value="message">
                <input type="hidden" name="redirect" value="http://[::1]:8080/contact.html">
                <div id="contact-name-container">
                    <div class="form-input-container padding-top-zero">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="given-name" required autocomplete="given-name">
                    </div>
                    <div class="form-input-container">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="family-name" required autocomplete="family-name">
                    </div>
                </div>
                <!-- <div class="form-input-container padding-top-zero contact-mobile-name">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="given-name" required autocomplete="given-name">
                </div>
                <div class="form-input-container contact-mobile-name">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="family-name" required autocomplete="family-name">
                </div> -->
                <div class="form-input-container">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required autocomplete="email">
                </div>
                <div class="form-input-container">
                    <label for="phone-number">Phone Number</label>
                    <input type="tel" id="phone-number" name="tel" required autocomplete="tel">
                </div>
                <div class="form-input-container">
                    <label for="street-address">Street Address</label>
                    <input type="text" id="street-address" autocomplete="street-address" class="not-required">
                </div>
                <div class="form-input-container">
                    <label for="city">City</label>
                    <input type="text" id="city" autocomplete="address-level2" class="not-required">
                </div>
                <div class="form-input-container">
                    <label for="postal-code">Postal Code</label>
                    <input type="text" id="postal-code" autocomplete="postal-code" class="not-required">
                </div>
                <div class="form-input-container">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" required maxlength="1000" aria-label="Enter Message"></textarea>
                </div>
                <div id="landing-form-submit-button-cont">
                    <!-- <button type="submit" form="contact-page-form" id="landing-form-button" class="open-button">Submit!</button> -->
                    <input type="submit" form="contact-page-form" id="landing-form-button" class="open-button" value="Submit!">
                </div>
            </form>
         </div>
         <dialog id="modal">
            <div>
                <h2>Message Sent</h2>
                <p>We'll get back to you as soon as possible!</p>
                <button class="close-button">Exit</button>
            </div>
         </dialog>
            <%= require('./partials/footer.html') %>
  
    </div>
</body>
</html>