<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Play</title>
</head>
<body>
    <div id="container">
        <%= require('./partials/header.html') %>




        <!-- place gameplay picture here -->
        <div id="rules-container">
            <div id="rules-header-container" class="flex-column-center">
                <h1>Game Rules</h1>
                <p>First team to 24 wins. You must win by 2!</p>
            </div>
            <div id="set-up-container" class="flex-column-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                    </div>
                    <div class="flip-card-back flex-column-center">
                        <h2 class="header-underline">Set Up</h2>
                        <p>Set up your boards 24ft apart.(more or less depending on skill set)</p>
                    </div>
                </div>

            </div>
            <div id="team-container" class="flex-column-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                    </div>
                    <div class="flip-card-back flex-column-center">
                        <h2 class="header-underline">Choose teams</h2>
                        <p>Form 2 teams. Each team member stands on opposite sides(1v1 or 2v2).</p>
                </div>
                </div>



            </div>
            <div id="play-container" class="flex-column-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                    </div>
                    <div class="flip-card-back flex-column-center">
                        <h2 class="header-underline">Play</h2>
                        <ul>    
                            <li>Players must stand at the opposite board from their opponent/partner.</li>
                            <li>Players must throw behind the front of board.</li>
                            <!-- <li>To score player must attempt to throw football with the result of hitting the board and opposition failing to catch ball off bounce (1 point) player throwing and successfully making into top hole (3 points) or bottom hole worth (6 points)
                                If throwing team fails to hit board the result is 0.</li> -->
                            <li>Points are scored when the football hits the board and the defense fails to catch it off the bounce 
                                - or when the ball lands in the scoring hole.</li>

                        </ul>
                    </div>
                </div>

                
            </div>
            <div id="score-container" class="flex-column-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                    </div>
                    <div class="flip-card-back flex-column-center">
                        <h2 class="header-underline">Score</h2>
                        <p class="bold-text center-text" >A throw only scores if the ball hits the board.</p>
                        <ul>
                            <li>
                                <p class="bold-text">1 Point -</p> Ball hits the board and the defense fails to catch it off the bounce
                            </li>
                            <li>
                                <p class="bold-text">3 Points -</p> Football lands in the top hole. Field Goal!
                            </li>
                            <li>
                                <p class="bold-text">6 Points -</p> Football lands in the bottom hole. Touchdown!
                            </li>
                            <li>
                                <p class="bold-text">0 Points -</p> Throw misses the board entirely
                            </li>
                        </ul>
                        <br>
                        <p class="center-text">*If the ball goes into a hole and bounces out after hitting the ground, points still count.</p>
                    </div>
                </div>

            </div>

            <div id="defense-container" class="flex-column-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                    </div>
                    <div class="flip-card-back flex-column-center">
                        <h2 class="header-underline">Defense</h2>
                        <ul>
                            <li>Defensive player must attempt to catch the ball with ONE hand only</li>
                            <li>No body assistance (can't trap it against your body)</li>
                        </ul>
                        <p>Players not involved in the throw/catch should step aside to allow room for attempts</p>
                    </div>
                </div>


            </div>

            <div id="winning-container" class="flex-column-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                    </div>
                    <div class="flip-card-back flex-column-center">
                        <h2 class="header-underline">Winning</h2>
                        <ul>
                            <li>Game is played to 21 points</li>
                            <li>Winner must win by 2 points</li>
                            <li><strong>Redemption:</strong> When a team hits a winning throw, 
                                the opposing team is granted one final attempt to match it.</li>
                            <li>If the opposing team succeeds, the winning throw is nullified, and the score to the previous round's standing.</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div id="aces-way-container" class="flex-column-center flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                    </div>

                    <div class="flip-card-back flex-column-center">
                        <h2 class="header-underline">Ace's way to play</h2>
                        <p>These are the official Ace Ball rules("Ace's way to play") 
                            but players are welcome to adjust gameplay to fit their style - such as:
                        </p>
                        <ul>
                            <li>Moving boards closer</li>
                            <li>Allowing two-hand catches</li>
                            <li>Adding defensive variations</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
            <%= require('./partials/footer.html') %>
    </div>
    <script>
        const observerOptions = {
            root: null,
            threshold: 0.2
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting){
                    entry.target.classList.add('flipped');

                    observer.unobserve(entry.target)
                }
            });
        }, observerOptions);

        const cards = document.querySelectorAll('.flip-card')
        cards.forEach(card => {
            observer.observe(card);
        });
    </script>
</body>
</html>