/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* *{
    font-family: "Montserrat", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

} */

*{
    font-family: "Roboto", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* ============
    HOME PAGE 
============ */


#container{
    display: flex;
    flex-direction: column;
}





/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    border-bottom: 2px solid #007BFF;
}

#header-menu-icon,
#header-exit-icon{

    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #007BFF;
    cursor: pointer;
}

#header-menu-icon{
    height: 35px;
    width: 35px;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #007BFF;
    cursor: pointer;
}


#header-exit-icon{
    height: 30px;
    width: 30px;
}


.border-bottom-orange{
    border-bottom: 2px solid #FF9900;
}




/* menu */

#mobile-menu-button,
#mobile-menu-exit-button{
    align-self: center;
    padding: 0;
    border: none;
    background-color: black;
}

#mobile-side-bar{
    position: fixed;
    top: 79px;
    left: -450px;
    height: 100%;
    width: 100vw;
    background-color: black;
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

#mobile-menu{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
}

#mobile-menu > a{
    text-decoration: none;
    color: white;
    font-size: larger;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.297);
    padding-left: 20px;
}

#mobile-side-bar.active{
    left: 0;
}

.hidden{
    display: none;
}



/* slideshow */

#slideshow-container{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    filter: brightness(80%);
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slideAnimation 20s infinite;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 4s; }
.slide:nth-child(3) { animation-delay: 8s; }
.slide:nth-child(4) { animation-delay: 12s; }
.slide:nth-child(5) { animation-delay: 16s; }


@keyframes slideAnimation {
    /* fade in */
    0% { opacity: 0; }
    6% { opacity: 1; }
    /* visible */
    20% { opacity: 1; }
    /* fade out */
    26% { opacity: 0; }
    /* stay hidden */
    100% { opacity: 0; }
}

/* set absolute push halfway down screen */
#ball-logo-container{
    /* align-self: center;
    flex-grow: 1;
    justify-self: center; */
    margin: auto;
    padding-bottom: 95px;
}



/* Hero */

#hero-container{
    position: relative;
}

#hero-title-container{
    position: absolute;
    top: 90px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#hero-title{
    color: white;
    font-size: 45px;
    text-align: center;
    /* text-shadow: 1px 1px black;
    -webkit-text-stroke: 1px black; */
    /* text-shadow: 1px 1px #FF9900;
    -webkit-text-stroke: 1px #FF9900; */
    paint-order: stroke fill;
    font-style: italic;
}

#hero-button{
    background-color: #007BFF;
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 18px;
    color: white;
}






/* Products */

#product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0 0;
    gap: 20px;

}



#product-header{
    font-size: 30px;
    /* padding: 5px; */
    margin-bottom: 15px;
    border-bottom: 2px solid #FF9900;
    width: 300px;
}


#product-container > p{
    font-weight: bold;
    font-style: italic;
    /* border-bottom: 1px solid #FF9900; */
}

#product-button{
    border: none;
    background-color: #FF9900;
    /* color: white; */
    padding: 15px 30px;
    /* font-size: 16px; */
    border-radius: 30px;
    font-weight: 700;
}


#football-spacer-container,
#video-container{
    display: flex;
    justify-content: center;
}

#football-spacer-container{
    margin: 70px 0;
}




/* video */

#video-container{
    margin-top: 80px;
}

video{
    object-fit: cover;
}




/* contact */
#landing-contact-form{
    /* margin-top: 100px; */
    padding: 50px 20px 60px 20px;
    background-color: #007BFF;
}


.form-input-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 2px;
}

#landing-contact-form > legend{
    padding-bottom: 20px;

}

#landing-contact-form > legend,
#contact-page-form > legend{
    text-align: center;
    font-weight: 700;
    font-size: 33px;
}

.form-input-container > label{
    font-weight: 600;
}

.form-input-container  input,
.form-input-container  textarea{
    border: none;
    font-weight: 500;
}

.form-input-container > textarea{
    height: 100px;
    max-height: 150px;
    max-width: 100%;
}

#landing-form-submit-button-cont{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

#landing-form-button,
#purchase-submit-btn{
    /* border-radius: 25px; */
    border: none;
    background-color: #FF9900;
    /* color: white; */
    /* padding: ; */
    font-weight: 600;
    font-size: 15px;
    padding: 10px 20px;
}

#contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 75px; */
}




/* =========
footer
========= */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 75px 0; */
    padding: 75px 0;
    gap: 40px;
    /* border: 15px solid black; */

}

.text-white{
    color: white;
}

#copyright-p{
    font-size: 12px;
}

.background-blue{
    background-color: #007BFF;
}

.footer-border-top{
    border-top: 2px solid gray;
}

.footer-add-margin{
    padding-top: 75px;
}

.footer-add-border{
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
}

/* ==========
HOW TO PLAY PAGE
========== */

#rules-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
    gap: 20px;
    background-color: #007BFF;
}

#rules-container p{
    text-align: center;
}

#rules-header-container{
    width: 100%;
}

#rules-container > div{
    padding: 20px;
    /* background-color: white; */
    background-color: black;
    color: white;
    border: 3px solid #FF9900;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-underline{
    border-bottom: 1px solid #007BFF;
}

#rules-header-container > h1{
    width: 200px;
}

#set-up-container > h2{
    width: 90px;
}

#team-container > h2{
    width: 175px;
}

#play-container > h2{
    width: 65px;
}

#score-container > h2{
    width: 85px;
}

#defense-container > h2{
    width: 110px;
}

#winning-container > h2{
    width: 110px;
}

#aces-way-container > h2{
    width: 220px;
}

#rules-container > div:nth-child(-n+3),
#rules-container h2{
    text-align: center;
}

/* #play-container li,
#score-container li, */
#rules-container li,
#rules-container p{
    margin: 10px 0;
}

#insta-icon{
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;
    height: 20px;
    width: 20px;

}

.background-black{
    background-color: black;
}

.background-white{
    background-color: white;
}


.header-border-orange{
    border-bottom: 2px solid #FF9900;
}

.center-text{
    text-align: center;
}

.bold-text{
    font-weight: 600;
}

#score-container p{
    display: inline;
}

/* ========
contact page
======== */



/* #form-container > #contact-page-form{
    background-color: #007BFF;
} */

/* #form-container input{
    background-color: #FF9900;
    border: none;
} */

#form-container{
    background-color: #007BFF;
    /* margin-bottom: 75px */
}

#contact-page-form > :not(:first-child),
#purchase-page-form > :not(:first-child)
{
    padding: 10px 20px;
}
#contact-page-form{
    padding-bottom: 75px;

}

#contact-page-form > .padding-top-zero,
#purchase-page-form > .padding-top-zero{
    padding-top: 0;
}

#contact-page-form > .form-input-container > input,
#contact-page-form > .form-input-container > textarea{

    /* border: 1px solid black; */
}

#form-container > #contact-page-form > legend{
    /* background-color: black; */
    /* color: #FF9900; */
    padding: 40px 0 30px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    /* width: 400px; */
}

#contact-page-form > legend > h1{
    border-bottom:1px solid #FF9900;
    font-size: 40px;
    width: 330px;
    font-style: italic;
}


/* ========
about page
======== */

#about-container{
    padding: 30px 10px;
    border-right: 15px solid black;
    border-left: 15px solid black;
    /* border-bottom: 15px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* margin-bottom: 50px; */
    /* background-color: #007BFF; */
}

#about-container > p{
    /* border-top: 5px solid black; */
}

#about-hero-container{
    height: 500px;
    position: relative;
}

#about-hero-container > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#about-title-container{
    position: absolute;
    top: 150px;
    color: white;
    font-size: x-large;
    width: 100%;
}


#about-title-container > h1{
    font-style: italic;
}

#about-header-container{
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 15px solid black;
    /* background-color: #007BFF; */
    /* background-color: #007BFF; */
    /* margin-top: 50px; */
    padding: 50px;
}


#about-image-1-container{
    width: 100%;
    border: 3px solid black;
}


#about-board-img-cont{
    gap: 10px;
}

#about-purchase-btn-cont{
    margin-top: 15px;

    /* top: 200px; */
}

#about-purchase-btn-cont > a{
    border: none;
    background-color: #007BFF;
    /* color: white; */
    padding: 15px 40px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#about-board-3-img-cont,
#about-board-img-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* change img size when screen shrinks */


#about-board-img-cont > img{
    width: 172px;
}

@media screen and (max-width: 365px){
    #about-board-img-cont > img{
        width: 130px;
    }
}
    


.flex-justify-center{
    display: flex;
    justify-content: center;
}

.flex-justify-right{
    display: flex;
    justify-content: right;
}

.border-top-black{
    border-top: 5px solid black;
}

#purchase-link{
    text-decoration: none;
    color: #007BFF;
    font-weight: 600;
}

.about-border-black{
    border: 15px solid black;
    border-top: 5px solid black;
}


/* ========
how to buy page
======== */

#purchase-hero{
    height:500px;
    object-fit: cover;
    border: 15px solid black;
}

#purchase-page-form > legend{
    display: flex;
    justify-content: center;
    padding: 40px 0 30px 0;
}

#purchase-page-form > legend > h1{
    border-bottom: 2px solid #007BFF;
    font-size: 50px;
    width: 240px;
    font-style: italic;
    border-bottom: 1px solid black;
}

#purchase-page-form{
    /* background-color: rgb(128, 128, 128); */
    color: white;
    padding: 10px 0 50px 0;
    border-right: 15px solid black;
    border-left: 15px solid black;
}

#purchase-page-form label{
    font-weight: 600;
}

#purchase-page-form > .form-input-container > input{
    height: 1.9rem;
    /* background-color: gray; */
}

#purchase-page-form > .form-input-container > input,
#purchase-page-form > .form-input-container > textarea{
    /* background-color: white; */
    color: rgba(0, 0, 0, 0.521);
    /* background-color: rgb(237, 237, 237); */
    background-color: #007BFF;
    
}

#purchase-page-form input:-webkit-autofill,
#purchase-page-form input:-webkit-autofill:hover,
#purchase-page-form input:-webkit-autofill:focus,
#purchase-page-form input:-webkit-autofill:active{
    /* -webkit-box-shadow:0 0 0 30px #007BFF inset !important; */
    transition: background-color 50000s ease-in-out 0s;

}






#purchase-page-form > .form-input-container > textarea{
    background-color: #335b8684;
}

#city-state-container div > input{
    /* background-color: rgb(237, 237, 237); */
    background-color: #007BFF;

}

#purchase-page-form > .form-input-container .bg-white{
    background-color: white;
}

#purchase-page-form > .form-input-container > textarea{
    /* border: 1px solid #007BFF; */
    border: 1px solid #FF9900;
}

#purchase-page-form > .form-input-container input:focus,
#purchase-page-form > .form-input-container textarea:focus,
#purchase-page-form > .form-input-container select:focus{
    outline: 2px solid #007BFF;
    box-shadow: 2px 2px 5px #007BFF
}

#purchase-page-form > .form-input-container > select{
    outline: 1px solid #007BFF;
    border: none;
    height: 29px;
    /* background-color: rgb(237, 237, 237); */
    /* background-color: #FF9900; */
    background-color: #335b8684;

    /* color: white; */
    color: #FF9900;
    
    font-weight: 600;

}


#purchase-page-form .add-input-border{
    border-bottom: 2px solid #FF9900;
    /* background-color: rgb(201, 201, 201); */
}


#purchase-page-form #confirmation-p{
    /* padding: 0 10px; */
    padding-right: 30px;
    padding-left: 30px;
    font-style: italic;
    color: black;
}

#city-state-container > div{
    display: flex;
    flex-direction: column;
    gap: 2px;

}

#city-state-container > div:first-child{
    padding-bottom: 10px;
}


/* ==========
thank you page
========== */

#thank-you-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    gap: 20px;
    padding: 75px 0;
    background-color: #FF9900;
    border-top:  5px solid black;
    border-bottom:  5px solid black;
    color: white;
}



/* #purchase-submit-btn #380 */
/* 
#purchase-submit-btn{
    
} */

/* color scheme 

blue
#007BFF

orange
#FF9900

*/